body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    margin: 5% auto;
    border-radius: 10px;
}
#container #result, h1{
    text-align: center;
    color: rgb(49, 79, 180);
}
#container button, input{
    width: 60%;
    height: 15%;
    margin: 0 auto;
    border-radius: 10px;
    outline-style: none;
    border: 2px solid rgb(49, 79, 180);
}
#container button{
    width: 40%;
    background-color:rgb(49, 79, 180) ;
}

